@model OnboardingRecycle.Models.Item
@{
    ViewBag.Title = "Details";

}

<style>
    .Waste_disposal{
        font-family:Calibri;
        font-size:50px;
    }
    .display {
        font-family: Calibri;
        display:flex;
    }
    .Type{
        font-size:30px;
    }
    .title{
        font-size:20px;
        color:aqua
    }
</style>
<P class="Waste_disposal">Waste Item disposal</P>

<p>
    @Html.ActionLink("Back to Home >", "Index")
</p>
<div class="display">
    <div>
        <img src="~/Images/waste-hierarchy.png" style="width:500px; height:600px"/>
    </div>
    <div>
    <p class="Type">@Html.DisplayFor(model =>model.name)</p>
    <hr />
    <dl class="dl-horizontal">
        <dt class="title">
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt class="title">
            @Html.DisplayNameFor(model => model.method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.method)
        </dd>
        <dt class="title">
            @Html.DisplayNameFor(model => model.Classifications)
        </dt>

        <dd>    
            @Html.DisplayFor(model => model.Classifications.ToArray()[0])
        </dd>

    </dl>
    </div>
</div>

